.holder {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

.image {
    max-width: 100px;
    max-height: 100px;
}

.error {
    border: 2px solid red;
}

.inline {
    display: inline-block;
}