@if(IsShow)
{
    <div class="alert @AlertType alert-dismissible fade show" role="alert">
        @Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}