<div id="body">
    <h2>Appointments</h2>
    <p>Add a grid with today's appointments and pictures of the patients</p>
    <table>
        <tr>
            <th>Check In / Out</th>
            <th>Time</th>
            <th>Location</th>
            <th>Patient</th>
            <th>Client</th>
        </tr>
        <tr>
            <td>
                <input type="button" value="Check Out" /></td>
            <td>8:00 AM</td>
            <td>Exam Room One</td>
            <td>
                <img src="" alt="Darwin" />Darwin</td>
            <td>Steve Smith<br />
                123 Main Street<br />
                Kent, OH 44240</td>

        </tr>
        <tr>
            <td>
                <input type="button" value="Check In" /></td>
            <td>9:00 AM</td>
            <td>Not Arrived</td>
            <td>
                <img src="http://thedatafarm.com/blog/files/media/image/WindowsLiveWriter/Sampsongetsagroomingandawalkinthewoods_7F6B/handsome%20sampson_thumb.png" alt="Sampson" style="max-height:100px;"/><br />Sampson</td>
            <td>Julie Lerman<br />
                123 Main Street<br />
                Burlington, VT 11111</td>
            
        </tr>
    </table>
</div>
